[Unit]
Description=KNX Daemon
After=network.target

[Service]
ExecStart=/usr/bin/knxd /etc/knxd/knxd.conf
Type=notify

Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
Also=knxd.socket
