[Unit]
Description=Asterisk PBX and telephony daemon.
After=network.target
After=network-online.target
After=nss-lookup.target

[Service]
Type=notify
Environment=HOME=/var/lib/asterisk
WorkingDirectory=/var/lib/asterisk
User=asterisk
Group=asterisk
ExecStart=/usr/sbin/asterisk -mqf -C /etc/asterisk/asterisk.conf
ExecReload=/usr/sbin/asterisk -rx 'core reload'
ExecStop=/usr/sbin/asterisk -rx 'core stop gracefully'

Nice=-4
#UMask=0002
LimitCORE=0
#LimitNOFILE=
Restart=always
RestartSec=4

# Prevent duplication of logs with color codes to /var/log/messages
#StandardOutput=null

PrivateTmp=true
PrivateDevices=true

[Install]
WantedBy=multi-user.target
